@mixin block($w: 1, $h: 1) {
	display: block;
	position: relative;
	--ratio: #{$h}/#{$w};

	&::before {
		content: "";
		position: relative;
		height: 0;
		display: block;
		padding-bottom: calc(var(--ratio) * 100%);
	}
}
@mixin mt($s: 0.26s) {
	--s: #{$s};
	transition: all var(--s) ease-in-out;
}

@mixin roww($a, $m: p) {
	--bs-gutter-x: #{$a};

	margin-left: calc(-1 * var(--bs-gutter-x) / 2);
	margin-right: calc(-1 * var(--bs-gutter-x) / 2);

	> * {
		@if $m==m {
			margin-left: calc(var(--bs-gutter-x) / 2);
			margin-right: calc(var(--bs-gutter-x) / 2);
		} @else {
			padding-left: calc(var(--bs-gutter-x) / 2);
			padding-right: calc(var(--bs-gutter-x) / 2);
		}
	}
}

// @mixin a-cent($xy: xy) {
// 	position: absolute;

// 	@if $xy==xy {
// 		top: 0;
// 		bottom: 0;
// 		margin: auto;
// 		left: 0;
// 		right: 0;
// 	} @else if $xy==x {
// 		left: 0;
// 		right: 0;
// 		margin-left: auto;
// 		margin-right: auto;
// 	} @else if $xy==y {
// 		top: 0;
// 		bottom: 0;
// 		margin-top: auto;
// 		margin-bottom: auto;
// 	}
// }

// @mixin a-cent1($xy: xy) {
// 	@if $xy==xy {
// 		position: absolute;
// 		left: 50%;
// 		top: 50%;
// 		bottom: auto;
// 		right: auto;
// 		transform: translate3d(-50%, -50%, 0);
// 	} @else if $xy==x {
// 		position: absolute;
// 		left: 50%;
// 		right: auto;
// 		transform: translateX(-50%);
// 	} @else if $xy==y {
// 		position: absolute;
// 		top: 50%;
// 		bottom: auto;
// 		transform: translateY(-50%);
// 	}
// }

.row-cols-3 > * {
	flex: 0 0 auto;
	width: 33.3333333333%;
}

.row-cols-4 > * {
	flex: 0 0 auto;
	width: 25%;
}

.sOpenOrders {
	--itemW: 220px;
	@media (min-width: 1200px) {
		--itemW: 262px;
	}
	padding-top: 38px;
	padding-bottom: 50px;
	& > .container-fluid {
		// --bs-gutter-x: 30px;
		max-width: 1165px;
		margin-left: 0;
		& > .row {
			--bs-gutter-y: var(--bs-gutter-x);
			@media (min-width: 1400px) {
				--bs-gutter-x: 30px;
			}
			// & > .col-auto {
			// 	width: calc((100% - var(--itemW) - var(--bs-gutter-x)) / 2);
			// }
		}
	}
	h2 {
		text-align: left;
		font-weight: 500;
		font-size: 20px;
		line-height: calc(23 / 20);
		color: #000a1a;
		text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
		margin-bottom: 37px;
		text-align: center;
		@media (min-width: 576px) {
			margin-bottom: 43px;
			text-align: left;
		}
		@media (min-width: 1200px) {
			margin-bottom: 50px;
		}
	}
	&__item {
		@include mt;
		display: flex;
		flex-direction: column;
		height: 100%;
		max-width: 325px;
		margin-left: auto;
		margin-right: auto;
		background: #ffffff;
		box-shadow: 4px 4px 20px 4px rgba(0, 0, 0, 0.25);
		border-radius: 16px;
		@media (min-width: 576px) {
			max-width: 100%;
			margin-left: 0;
			margin-right: 0;
		}
		&:hover {
			box-shadow: 4px 4px 6px 4px rgba(0, 0, 0, 0.2);
			h3 {
				color: #3c8dbc;
			}
		}
		&--col-3 {
			padding: 21px 24px 13px 24px;
			p {
				margin-bottom: 38px;
			}
			.row {
				@extend .row-cols-3;
				--bs-gutter-x: 20px;
				--bs-gutter-y: 16px;
				margin-bottom: auto;
			}
		}
		&--col-4 {
			padding: 21px 19px 13px 19px;
			p {
				margin-bottom: 19px;
			}
			.row {
				@extend .row-cols-4;
				margin-bottom: auto;
				--bs-gutter-x: 14px;
				--bs-gutter-y: 10px;
			}
		}
		h3 {
			@include mt;
			font-weight: 500;
			font-size: 20px;
			line-height: calc(23 / 20);
			color: #000000;
			margin-bottom: 5px;
		}
		p {
			font-weight: normal;
			font-size: 12px;
			line-height: calc(14 / 12);
			color: #000000;
		}
	}
	&__img-wrap {
		@include block;
		border-radius: 8px;
		overflow: hidden;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			object-fit: cover;
		}
	}
	&__price {
		display: flex;
		justify-content: space-between;
		width: 100%;
		max-width: 100%;
		@media (min-width: 1200px) {
			max-width: 72%;
		}
		margin-left: auto;
		margin-right: auto;
		margin-top: 24px;
		span {
			font-weight: 500;
			font-size: 20px;
			line-height: calc(23 / 20);
			color: #777777;

			&:last-of-type {
				color: #000000;
			}
		}
	}
	&__col {
		display: flex;
		align-items: center;
		@media (max-width: 575.8px) {
			justify-content: center;
		}
	}
	&__add-item {
		@include mt;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: var(--itemW);
		height: var(--itemW);
		background-color: #cee0fc;
		color: #15499f;
		border-radius: 16px;
		box-shadow: 4px 4px 20px 4px rgba(0, 0, 0, 0.25);
		&:hover {
			box-shadow: 4px 4px 6px 4px rgba(0, 0, 0, 0.2);
			color: #3c8dbc;
		}
		span {
			font-size: 16px;
			line-height: calc(19 / 16);
			color: inherit;
			&.plus {
				display: inline-block;
				position: relative;
				width: 44px;
				height: 44px;
				@media (min-width: 1200px) {
					width: 50px;
					height: 50px;
				}
				margin-bottom: 7.5px;
				&::before,
				&::after {
					content: "";
					position: absolute;
					background-color: currentColor;
				}
				&::before {
					width: 100%;
					height: 4px;
					top: 50%;
					left: 0;
					transform: translateY(-50%);
				}
				&::after {
					height: 100%;
					width: 4px;
					top: 0;
					left: 50%;
					transform: translateX(-50%);
				}
			}
		}
	}
}

.sOrder {
	padding-top: 50px;
	h2 {
		font-weight: bold;
		font-size: 35px;
		line-height: calc(41 / 35);
		color: #000a1a;
		text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
		padding-bottom: 50px;
		margin-bottom: 0;
	}
	& > .container-fluid {
		max-width: 1220px;
		margin-left: 0;
		& > .row {
			--bs-gutter-x: 20px;
		}
	}
	&__col {
		width: 45%;
	}
	&__btn {
		position: absolute;
		left: 18px;
		top: 18px;
		padding: 7px 15.5px;
		border-radius: 8px;
	}
	&__btns {
		@include roww(7px, m);
		display: flex;
		justify-content: space-between;
		align-items: center;
		input {
			width: auto;
		}
		button {
			padding: 8px;
			span {
				display: inline-block;
				position: relative;
				width: 14.5px;
				height: 14.5px;
				&::before {
					content: "";
					position: absolute;
					background-color: currentColor;
					width: 100%;
					height: 2px;
					top: 50%;
					left: 0;
					transform: translateY(-50%);
				}
				&.plus {
					&::after {
						content: "";
						position: absolute;
						background-color: currentColor;
						height: 100%;
						width: 2px;
						top: 0;
						left: 50%;
						transform: translateX(-50%);
					}
				}
			}
		}
	}
	&__table {
		position: relative;
		overflow: hidden;
		background-color: #ffffff;
		box-shadow: 4px 4px 20px 4px rgba(0, 0, 0, 0.25);
		border-radius: 16px;
		padding: 30px 0 40px;
		table {
			width: 100%;
			font-weight: bold;
			font-size: 16px;
			line-height: calc(19 / 16);
			text-align: center;
			margin-bottom: 80px;
			tr {
				border-bottom: 1px solid #bdbdbd;
				&:last-of-type {
					border: none;
					td {
						padding-bottom: 0;
					}
				}
			}
			th {
				color: #777777;
				padding: 10px;
				padding-bottom: 11px;
				padding-top: 0;
				white-space: nowrap;
				&:last-of-type {
					text-align: right;
					padding-right: 19px;
				}
				&:first-of-type {
					text-align: left;
					padding-left: 19px;
					white-space: initial;
				}
			}
			td {
				padding: 10px;
				padding-top: 14px;
				padding-bottom: 14px;
				white-space: nowrap;
				&:last-of-type {
					text-align: right;
					padding-right: 19px;
				}
				&:first-of-type {
					text-align: left;
					padding-left: 19px;
					white-space: initial;
				}
			}
		}
		form {
			margin-bottom: 0;
		}
		textarea {
			display: block;
			resize: none;
			width: 90%;
			max-width: 458px;
			min-height: 110px;
			margin-left: auto;
			margin-right: auto;
			border-color: #b7b7b7;
			border-radius: 16px;
			padding: 15px 20px;
		}
	}
}
