.row-cols-3 > *, .sOpenOrders__item--col-3 .row > * {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 auto;
		        flex: 0 0 auto;
		width: 33.3333333333%;
}

.row-cols-4 > *, .sOpenOrders__item--col-4 .row > * {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 auto;
		        flex: 0 0 auto;
		width: 25%;
}

.sOpenOrders {
		--itemW: 220px;
		padding-top: 38px;
		padding-bottom: 50px;
}
@media (min-width: 1200px) {
		.sOpenOrders {
				--itemW: 262px;
		}
}
.sOpenOrders > .container-fluid {
		max-width: 1165px;
		margin-left: 0;
}
.sOpenOrders > .container-fluid > .row {
		--bs-gutter-y: var(--bs-gutter-x);
}
@media (min-width: 1400px) {
		.sOpenOrders > .container-fluid > .row {
				--bs-gutter-x: 30px;
		}
}
.sOpenOrders h2 {
		text-align: left;
		font-weight: 500;
		font-size: 20px;
		line-height: calc(23 / 20);
		font-size: 20px;
		color: #000a1a;
		text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
		margin-bottom: 37px;
		text-align: center;
}
@media (min-width: 576px) {
		.sOpenOrders h2 {
				margin-bottom: 43px;
				text-align: left;
		}
}
@media (min-width: 1200px) {
		.sOpenOrders h2 {
				margin-bottom: 50px;
		}
}
.sOpenOrders__item {
		--s: 0.26s;
		-webkit-transition: all var(--s) ease-in-out;
		transition: all var(--s) ease-in-out;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		height: 100%;
		max-width: 325px;
		margin-left: auto;
		margin-right: auto;
		background: #ffffff;
		-webkit-box-shadow: 4px 4px 20px 4px rgba(0, 0, 0, 0.25);
		        box-shadow: 4px 4px 20px 4px rgba(0, 0, 0, 0.25);
		border-radius: 16px;
}
@media (min-width: 576px) {
		.sOpenOrders__item {
				max-width: 100%;
				margin-left: 0;
				margin-right: 0;
		}
}
.sOpenOrders__item:hover {
		-webkit-box-shadow: 4px 4px 6px 4px rgba(0, 0, 0, 0.2);
		        box-shadow: 4px 4px 6px 4px rgba(0, 0, 0, 0.2);
}
.sOpenOrders__item:hover h3 {
		color: #3c8dbc;
}
.sOpenOrders__item--col-3 {
		padding: 21px 24px 13px 24px;
}
.sOpenOrders__item--col-3 p {
		margin-bottom: 38px;
}
.sOpenOrders__item--col-3 .row {
		--bs-gutter-x: 20px;
		--bs-gutter-y: 16px;
		margin-bottom: auto;
}
.sOpenOrders__item--col-4 {
		padding: 21px 19px 13px 19px;
}
.sOpenOrders__item--col-4 p {
		margin-bottom: 19px;
}
.sOpenOrders__item--col-4 .row {
		margin-bottom: auto;
		--bs-gutter-x: 14px;
		--bs-gutter-y: 10px;
}
.sOpenOrders__item h3 {
		--s: 0.26s;
		-webkit-transition: all var(--s) ease-in-out;
		transition: all var(--s) ease-in-out;
		font-weight: 500;
		font-size: 20px;
		line-height: calc(23 / 20);
		color: #000000;
		margin-bottom: 5px;
}
.sOpenOrders__item p {
		font-weight: normal;
		font-size: 12px;
		line-height: calc(14 / 12);
		color: #000000;
}
.sOpenOrders__img-wrap {
		display: block;
		position: relative;
		--ratio: 1/1;
		border-radius: 8px;
		overflow: hidden;
}
.sOpenOrders__img-wrap::before {
		content: "";
		position: relative;
		height: 0;
		display: block;
		padding-bottom: calc(var(--ratio) * 100%);
}
.sOpenOrders__img-wrap img {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		-o-object-fit: cover;
		   object-fit: cover;
}
.sOpenOrders__price {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		width: 100%;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 24px;
}
@media (min-width: 1200px) {
		.sOpenOrders__price {
				max-width: 72%;
		}
}
.sOpenOrders__price span {
		font-weight: 500;
		font-size: 20px;
		line-height: calc(23 / 20);
		color: #777777;
}
.sOpenOrders__price span:last-of-type {
		color: #000000;
}
.sOpenOrders__col {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
}
@media (max-width: 575.8px) {
		.sOpenOrders__col {
				-webkit-box-pack: center;
				    -ms-flex-pack: center;
				        justify-content: center;
		}
}
.sOpenOrders__add-item {
		--s: 0.26s;
		-webkit-transition: all var(--s) ease-in-out;
		transition: all var(--s) ease-in-out;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		width: var(--itemW);
		height: var(--itemW);
		background-color: #cee0fc;
		color: #15499f;
		border-radius: 16px;
		-webkit-box-shadow: 4px 4px 20px 4px rgba(0, 0, 0, 0.25);
		        box-shadow: 4px 4px 20px 4px rgba(0, 0, 0, 0.25);
}
.sOpenOrders__add-item:hover {
		-webkit-box-shadow: 4px 4px 6px 4px rgba(0, 0, 0, 0.2);
		        box-shadow: 4px 4px 6px 4px rgba(0, 0, 0, 0.2);
		color: #3c8dbc;
}
.sOpenOrders__add-item span {
		font-size: 16px;
		line-height: calc(19 / 16);
		color: inherit;
}
.sOpenOrders__add-item span.plus {
		display: inline-block;
		position: relative;
		width: 44px;
		height: 44px;
		margin-bottom: 7.5px;
}
@media (min-width: 1200px) {
		.sOpenOrders__add-item span.plus {
				width: 50px;
				height: 50px;
		}
}
.sOpenOrders__add-item span.plus::before, .sOpenOrders__add-item span.plus::after {
		content: "";
		position: absolute;
		background-color: currentColor;
}
.sOpenOrders__add-item span.plus::before {
		width: 100%;
		height: 4px;
		top: 50%;
		left: 0;
		-webkit-transform: translateY(-50%);
		        transform: translateY(-50%);
}
.sOpenOrders__add-item span.plus::after {
		height: 100%;
		width: 4px;
		top: 0;
		left: 50%;
		-webkit-transform: translateX(-50%);
		        transform: translateX(-50%);
}

.sOrder {
		padding-top: 20px;
		position: relative;
		padding-bottom: 70px;
}
@media (min-width: 576px) {
		.sOrder {
				padding-top: 50px;
		}
}
.sOrder h2 {
		font-weight: bold;
		font-size: 26px;
		line-height: calc(41 / 35);
		color: #000a1a;
		text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
		padding-bottom: 50px;
		margin-bottom: 0;
}
@media (min-width: 480px) {
		.sOrder h2 {
				font-size: 35px;
		}
}
.sOrder > .container-fluid {
		max-width: 1220px;
		margin-left: 0;
}
.sOrder > .container-fluid > .row {
		--bs-gutter-x: 20px;
		--bs-gutter-y: 50px;
}
.sOrder__col {
		max-width: 547px;
		margin-left: auto;
		margin-right: auto;
}
.sOrder__btn-back {
		position: absolute;
		border-radius: 8px;
		padding: 7px 15.5px;
		left: calc(var(--bs-gutter-x) / 2);
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		top: 20px;
		width: 70px;
		height: 53px;
}
@media (min-width: 576px) {
		.sOrder__btn-back {
				width: 100px;
				top: 50px;
		}
}
@media (min-width: 1200px) {
		.sOrder__btn-back {
				width: 62px;
				height: 37px;
				left: 18px;
				top: 18px;
		}
}
@media (min-width: 768px) {
		.sOrder__btn-back img {
				width: 41px;
				height: 28px;
		}
}
@media (min-width: 1200px) {
		.sOrder__btn-back img {
				width: 26px;
				height: 18px;
		}
}
.sOrder__quantity {
		--bs-gutter-x: 7px;
		margin-left: calc(-1 * var(--bs-gutter-x) / 2);
		margin-right: calc(-1 * var(--bs-gutter-x) / 2);
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		/* Firefox */
}
.sOrder__quantity > * {
		margin-left: calc(var(--bs-gutter-x) / 2);
		margin-right: calc(var(--bs-gutter-x) / 2);
}
.sOrder__quantity input {
		width: 23px;
		border: none;
		outline: none;
		text-align: center;
		-webkit-appearance: none;
		   -moz-appearance: none;
		        appearance: none;
}
.sOrder__quantity input::-webkit-outer-spin-button,
.sOrder__quantity input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
}
.sOrder__quantity input[type=number] {
		-moz-appearance: textfield;
}
.sOrder__quantity button {
		padding: 8px;
}
.sOrder__quantity button span {
		display: inline-block;
		position: relative;
		width: 14.5px;
		height: 14.5px;
}
.sOrder__quantity button span::before {
		content: "";
		position: absolute;
		background-color: currentColor;
		width: 100%;
		height: 2px;
		top: 50%;
		left: 0;
		-webkit-transform: translateY(-50%);
		        transform: translateY(-50%);
}
.sOrder__quantity button span.plus::after {
		content: "";
		position: absolute;
		background-color: currentColor;
		height: 100%;
		width: 2px;
		top: 0;
		left: 50%;
		-webkit-transform: translateX(-50%);
		        transform: translateX(-50%);
}
.sOrder__item {
		overflow: hidden;
		background-color: #ffffff;
		-webkit-box-shadow: 4px 4px 20px 4px rgba(0, 0, 0, 0.25);
		        box-shadow: 4px 4px 20px 4px rgba(0, 0, 0, 0.25);
		border-radius: 16px;
		padding: 30px 0 40px;
}
@media (min-width: 1200px) {
		.sOrder__item {
				position: relative;
		}
}
.sOrder__item .sOrder__table-top {
		margin-bottom: 45px;
		overflow-x: auto;
}
@media (min-width: 768px) {
		.sOrder__item .sOrder__table-top {
				margin-bottom: 70px;
		}
}
.sOrder__item .sOrder__table-top table {
		min-width: 525px;
		width: 100%;
		font-weight: bold;
		font-size: 16px;
		line-height: calc(19 / 16);
		margin-bottom: 15px;
}
.sOrder__item .sOrder__table-top table tr {
		border-bottom: 1px solid #bdbdbd;
}
.sOrder__item .sOrder__table-top table tr:last-of-type {
		border: none;
}
.sOrder__item .sOrder__table-top table tr:last-of-type td {
		padding-bottom: 0;
}
.sOrder__item .sOrder__table-top table th {
		color: #777777;
		padding: 10px;
		padding-bottom: 11px;
		padding-top: 0;
		white-space: nowrap;
}
.sOrder__item .sOrder__table-top table th:nth-child(2) {
		text-align: center;
}
.sOrder__item .sOrder__table-top table th:last-of-type {
		text-align: right;
		padding-right: 19px;
}
.sOrder__item .sOrder__table-top table th:first-of-type {
		padding-left: 19px;
		white-space: initial;
}
.sOrder__item .sOrder__table-top table td {
		padding: 10px;
		padding-top: 14px;
		padding-bottom: 14px;
		white-space: nowrap;
}
.sOrder__item .sOrder__table-top table td:last-of-type {
		text-align: right;
		padding-right: 19px;
}
.sOrder__item .sOrder__table-top table td:first-of-type {
		text-align: left;
		padding-left: 19px;
		white-space: initial;
}
.sOrder__item .sOrder__table-footer {
		margin-bottom: 35px;
		padding-left: 19px;
		padding-right: 19px;
}
@media (min-width: 768px) {
		.sOrder__item .sOrder__table-footer {
				margin-bottom: 55px;
		}
}
.sOrder__item .sOrder__table-footer table {
		width: 100%;
		font-weight: bold;
		font-size: 18px;
		line-height: calc(21 / 18);
}
@media (max-width: 375px) {
		.sOrder__item .sOrder__table-footer table {
				display: block;
		}
		.sOrder__item .sOrder__table-footer table tbody {
				display: block;
		}
}
@media (max-width: 375px) {
		.sOrder__item .sOrder__table-footer table tr {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-ms-flex-wrap: wrap;
				    flex-wrap: wrap;
		}
}
.sOrder__item .sOrder__table-footer table tr:first-of-type td {
		padding-bottom: 35px;
}
@media (max-width: 375px) {
		.sOrder__item .sOrder__table-footer table tr:last-of-type td:nth-child(2) {
				padding-right: 0;
		}
}
.sOrder__item .sOrder__table-footer table td {
		padding-left: 10px;
		padding-right: 10px;
}
@media (max-width: 375px) {
		.sOrder__item .sOrder__table-footer table td {
				display: block;
		}
}
.sOrder__item .sOrder__table-footer table td:last-of-type {
		text-align: right;
		padding-right: 0;
}
.sOrder__item .sOrder__table-footer table td:first-of-type {
		font-weight: normal;
		color: #777777;
		text-align: left;
		padding-left: 0;
		white-space: initial;
		-webkit-box-flex: 1;
		    -ms-flex-positive: 1;
		        flex-grow: 1;
}
@media (max-width: 375px) {
		.sOrder__item .sOrder__table-footer table td:nth-child(3) {
				width: 100%;
		}
}
.sOrder__item form {
		margin-bottom: 0;
}
.sOrder__item textarea {
		display: block;
		resize: vertical;
		width: 90%;
		max-width: 458px;
		min-height: 110px;
		margin-left: auto;
		margin-right: auto;
		border-color: #b7b7b7;
		border-radius: 16px;
		padding: 15px 20px;
		margin-bottom: 45px;
}
@media (min-width: 768px) {
		.sOrder__item textarea {
				margin-bottom: 70px;
		}
}
.sOrder__result {
		padding: 0 19px;
}
.sOrder__result .row {
		--bs-gutter-y: 20px;
}
@media (max-width: 480px) {
		.sOrder__result .col-auto {
				width: 100%;
		}
}
.sOrder__result button {
		width: 158px;
		height: 53px;
		border-radius: 8px;
		font-weight: 500;
		font-size: 22px;
		line-height: calc(26 / 22);
}
@media (max-width: 480px) {
		.sOrder__result button {
				width: 100%;
		}
}
.sOrder__price {
		font-weight: 500;
		font-size: 24px;
		line-height: calc(28 / 24);
		color: #8c8c8c;
}
@media (max-width: 480px) {
		.sOrder__price {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-pack: justify;
				    -ms-flex-pack: justify;
				        justify-content: space-between;
		}
}
.sOrder__price span {
		display: inline-block;
		margin-left: 8px;
}
.sOrder__price span:last-child {
		font-weight: bold;
		color: #000000;
		white-space: nowrap;
}
.sOrder__buttons {
		margin-left: auto;
		margin-right: auto;
		width: 82%;
		max-width: 433px;
		margin-bottom: 30px;
}
@media (min-width: 768px) {
		.sOrder__buttons {
				margin-bottom: 40px;
		}
}
.sOrder__buttons .row {
		--bs-gutter-x: 14px;
}
.sOrder__buttons .sOrder__btn {
		--s: 0.26s;
		-webkit-transition: all var(--s) ease-in-out;
		transition: all var(--s) ease-in-out;
		width: 100%;
		border-radius: 16px;
		padding: 9px;
}
.sOrder__buttons .sOrder__btn:hover {
		background-color: #ffffff;
		-webkit-box-shadow: 0px 0px 6px 3px rgba(21, 73, 159, 0.3);
		        box-shadow: 0px 0px 6px 3px rgba(21, 73, 159, 0.3);
}
.sOrder__buttons .sOrder__btn img {
		width: 40px;
		height: 40px;
}
.sOrder__heading {
		margin: 0;
		padding-left: 85px;
}
@media (min-width: 576px) {
		.sOrder__heading {
				max-width: 500px;
				margin-left: auto;
				margin-right: auto;
		}
}
@media (min-width: 768px) {
		.sOrder__heading {
				max-width: 600px;
		}
}
@media (min-width: 1200px) {
		.sOrder__heading {
				padding-left: 0;
				max-width: 100%;
				margin: 0;
		}
}
.sOrder__search {
		position: relative;
}
.sOrder__search input {
		--s: 0.26s;
		-webkit-transition: all var(--s) ease-in-out;
		transition: all var(--s) ease-in-out;
		display: block;
		width: 100%;
		padding: 14.5px 20px 14.5px 70px;
		-webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
		        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
		font-weight: 500;
		border: none;
}
.sOrder__search input:hover, .sOrder__search input:focus {
		-webkit-box-shadow: 4px 4px 6px 4px rgba(0, 0, 0, 0.2);
		        box-shadow: 4px 4px 6px 4px rgba(0, 0, 0, 0.2);
}
.sOrder__search button {
		position: absolute;
		top: 0;
		bottom: 0;
		margin-top: auto;
		margin-bottom: auto;
		left: 33px;
		padding: 0;
		width: 28px;
		height: 28px;
		border: none;
		outline: none;
		background-color: transparent;
}
.sOrder__search button svg {
		--s: 0.26s;
		-webkit-transition: all var(--s) ease-in-out;
		transition: all var(--s) ease-in-out;
		pointer-events: none;
		width: 100%;
		height: 100%;
		fill: currentColor;
}
.sOrder__search button:hover {
		color: #15499f;
}

.sOrder-menu {
		max-height: 675px;
		overflow-y: auto;
		overflow-x: visible;
		padding: 20px;
		margin: -20px;
}
.sOrder-menu .row {
		--bs-gutter-x: 20px;
		--bs-gutter-y: var(--bs-gutter-x);
}
@media (max-width: 1200px) {
		.sOrder-menu .row {
				-ms-flex-wrap: nowrap;
				    flex-wrap: nowrap;
		}
}
.sOrder-menu__item {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		padding: 4% 9% 5.5%;
		-webkit-box-shadow: 4px 4px 20px 4px rgba(0, 0, 0, 0.25);
		        box-shadow: 4px 4px 20px 4px rgba(0, 0, 0, 0.25);
		height: 100%;
}
@media (max-width: 576px) {
		.sOrder-menu__item {
				max-width: 100%;
				width: 210px;
		}
}
.sOrder-menu__item h5 {
		text-transform: uppercase;
		text-align: center;
		font-weight: normal;
		font-size: 16px;
		line-height: 19px;
		margin-bottom: 8px;
		-webkit-box-flex: 1;
		    -ms-flex-positive: 1;
		        flex-grow: 1;
}
.sOrder-menu__img-wrap {
		display: block;
		position: relative;
		--ratio: 1/1;
}
.sOrder-menu__img-wrap::before {
		content: "";
		position: relative;
		height: 0;
		display: block;
		padding-bottom: calc(var(--ratio) * 100%);
}
.sOrder-menu__img-wrap img {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		-o-object-fit: cover;
		   object-fit: cover;
}
.sOrder-menu__img-wrap span {
		position: absolute;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		right: 7px;
		bottom: 7px;
		width: 45.5px;
		height: 29px;
		background-color: #ffffff;
		border: 1px solid #777777;
		border-radius: 8px;
		font-weight: normal;
		font-size: 16px;
		line-height: 19px;
}

.breadcrumbs {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		list-style: none;
		padding: 0;
		margin-top: 17px;
		margin-bottom: 35px;
}
.breadcrumbs__item {
		font-weight: 500;
		font-size: 16px;
		line-height: calc(19 / 16);
		color: #787878;
}
.breadcrumbs__item:not(:hover) a {
		color: inherit;
}
.breadcrumbs__item + .breadcrumbs__item::before {
		content: url(../img/Arrow-1.svg);
		display: inline-block;
		vertical-align: middle;
		padding-right: 0.5rem;
		padding-bottom: 2px;
		width: 36px;
}
.breadcrumbs__item + .breadcrumbs__item {
		padding-left: 0.5em;
}