@mixin block($w: 1, $h: 1) {
	display: block;
	position: relative;
	--ratio: #{$h}/#{$w};

	&::before {
		content: "";
		position: relative;
		height: 0;
		display: block;
		padding-bottom: calc(var(--ratio) * 100%);
	}
}
@mixin mt($s: 0.26s) {
	--s: #{$s};
	transition: all var(--s) ease-in-out;
}

@mixin roww($a, $m: p) {
	--bs-gutter-x: #{$a};

	margin-left: calc(-1 * var(--bs-gutter-x) / 2);
	margin-right: calc(-1 * var(--bs-gutter-x) / 2);

	> * {
		@if $m==m {
			margin-left: calc(var(--bs-gutter-x) / 2);
			margin-right: calc(var(--bs-gutter-x) / 2);
		} @else {
			padding-left: calc(var(--bs-gutter-x) / 2);
			padding-right: calc(var(--bs-gutter-x) / 2);
		}
	}
}

@mixin a-cent($xy: xy) {
	position: absolute;

	@if $xy==xy {
		top: 0;
		bottom: 0;
		margin: auto;
		left: 0;
		right: 0;
	} @else if $xy==x {
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
	} @else if $xy==y {
		top: 0;
		bottom: 0;
		margin-top: auto;
		margin-bottom: auto;
	}
}

// @mixin a-cent1($xy: xy) {
// 	@if $xy==xy {
// 		position: absolute;
// 		left: 50%;
// 		top: 50%;
// 		bottom: auto;
// 		right: auto;
// 		transform: translate3d(-50%, -50%, 0);
// 	} @else if $xy==x {
// 		position: absolute;
// 		left: 50%;
// 		right: auto;
// 		transform: translateX(-50%);
// 	} @else if $xy==y {
// 		position: absolute;
// 		top: 50%;
// 		bottom: auto;
// 		transform: translateY(-50%);
// 	}
// }

.row-cols-3 > * {
	flex: 0 0 auto;
	width: 33.3333333333%;
}

.row-cols-4 > * {
	flex: 0 0 auto;
	width: 25%;
}

.sOpenOrders {
	// --itemW: 220px;
	// @media (min-width: 1200px) {
	// 	--itemW: 262px;
	// }
	padding-top: 38px;
	padding-bottom: 50px;
	& > .container-fluid {
		// --bs-gutter-x: 30px;
		max-width: 1165px;
		margin-left: 0;
		& > .row {
			--bs-gutter-y: var(--bs-gutter-x);
			@media (min-width: 1400px) {
				--bs-gutter-x: 30px;
			}
			// & > .col-auto {
			// 	width: calc((100% - var(--itemW) - var(--bs-gutter-x)) / 2);
			// }
		}
	}
	h2 {
		text-align: left;
		font-weight: 500;
		font-size: 20px;
		line-height: calc(23 / 20);
		font-size: 20px;
		color: #000a1a;
		text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
		margin-bottom: 37px;
		text-align: center;
		@media (min-width: 576px) {
			margin-bottom: 43px;
			text-align: left;
		}
		@media (min-width: 1200px) {
			margin-bottom: 50px;
		}
	}
	&__item {
		@include mt;
		display: flex;
		flex-direction: column;
		height: 100%;
		max-width: 325px;
		margin-left: auto;
		margin-right: auto;
		background: #ffffff;
		box-shadow: 4px 4px 20px 4px rgba(0, 0, 0, 0.25);
		border-radius: 16px;
		@media (min-width: 576px) {
			max-width: 100%;
			margin-left: 0;
			margin-right: 0;
		}
		&:hover {
			box-shadow: 4px 4px 6px 4px rgba(0, 0, 0, 0.2);
			h3 {
				color: #3c8dbc;
			}
		}
		&--col-3 {
			padding: 21px 24px 13px 24px;
			p {
				margin-bottom: 38px;
			}
			.row {
				@extend .row-cols-3;
				--bs-gutter-x: 20px;
				--bs-gutter-y: 16px;
				margin-bottom: auto;
			}
		}
		&--col-4 {
			padding: 21px 19px 13px 19px;
			p {
				margin-bottom: 19px;
			}
			.row {
				@extend .row-cols-4;
				margin-bottom: auto;
				--bs-gutter-x: 14px;
				--bs-gutter-y: 10px;
			}
		}
		h3 {
			@include mt;
			font-weight: 500;
			font-size: 20px;
			line-height: calc(23 / 20);
			color: #000000;
			margin-bottom: 5px;
		}
		p {
			font-weight: normal;
			font-size: 12px;
			line-height: calc(14 / 12);
			color: #000000;
		}
	}
	&__img-wrap {
		@include block;
		border-radius: 8px;
		overflow: hidden;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			object-fit: cover;
		}
	}
	&__price {
		display: flex;
		justify-content: space-between;
		width: 100%;
		max-width: 100%;
		@media (min-width: 1200px) {
			max-width: 72%;
		}
		margin-left: auto;
		margin-right: auto;
		margin-top: 24px;
		span {
			font-weight: 500;
			font-size: 20px;
			line-height: calc(23 / 20);
			color: #777777;

			&:last-of-type {
				color: #000000;
			}
		}
	}
	&__col {
		display: flex;
		align-items: center;
		@media (max-width: 575.8px) {
			justify-content: center;
		}
	}
	&__add-item {
		@include mt;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: var(--itemW);
		height: var(--itemW);
		background-color: #cee0fc;
		color: #15499f;
		border-radius: 16px;
		box-shadow: 4px 4px 20px 4px rgba(0, 0, 0, 0.25);
		&:hover {
			box-shadow: 4px 4px 6px 4px rgba(0, 0, 0, 0.2);
			color: #3c8dbc;
		}
		span {
			font-size: 16px;
			line-height: calc(19 / 16);
			color: inherit;
			&.plus {
				display: inline-block;
				position: relative;
				width: 44px;
				height: 44px;
				@media (min-width: 1200px) {
					width: 50px;
					height: 50px;
				}
				margin-bottom: 7.5px;
				&::before,
				&::after {
					content: "";
					position: absolute;
					background-color: currentColor;
				}
				&::before {
					width: 100%;
					height: 4px;
					top: 50%;
					left: 0;
					transform: translateY(-50%);
				}
				&::after {
					height: 100%;
					width: 4px;
					top: 0;
					left: 50%;
					transform: translateX(-50%);
				}
			}
		}
	}
}

.sOrder {
	padding-top: 20px;
	position: relative;
	padding-bottom: 70px;
	@media (min-width: 576px) {
		padding-top: 50px;
	}
	h2 {
		font-weight: bold;
		font-size: 26px;
		line-height: calc(41 / 35);
		color: #000a1a;
		text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
		padding-bottom: 50px;
		margin-bottom: 0;
		@media (min-width: 480px) {
			font-size: 35px;
		}
	}
	& > .container-fluid {
		max-width: 1220px;
		margin-left: 0;
		& > .row {
			--bs-gutter-x: 20px;
			--bs-gutter-y: 50px;
		}
	}
	&__col {
		max-width: 547px;
		margin-left: auto;
		margin-right: auto;
	}
	&__btn-back {
		position: absolute;
		border-radius: 8px;
		padding: 7px 15.5px;
		left: calc(var(--bs-gutter-x) / 2);
		display: flex;
		align-items: center;
		justify-content: center;
		top: 20px;
		width: 70px;
		height: 53px;
		@media (min-width: 576px) {
			width: 100px;
			top: 50px;
		}
		// @media (min-width: 768px) {
		// 	left: 34px;
		// }
		@media (min-width: 1200px) {
			width: 62px;
			height: 37px;

			left: 18px;
			top: 18px;
		}
		img {
			@media (min-width: 768px) {
				width: 41px;
				height: 28px;
			}
			@media (min-width: 1200px) {
				width: 26px;
				height: 18px;
			}
		}
	}
	&__quantity {
		@include roww(7px, m);
		display: flex;
		justify-content: space-between;
		align-items: center;
		input {
			width: auto;
		}
		button {
			padding: 8px;
			span {
				display: inline-block;
				position: relative;
				width: 14.5px;
				height: 14.5px;
				&::before {
					content: "";
					position: absolute;
					background-color: currentColor;
					width: 100%;
					height: 2px;
					top: 50%;
					left: 0;
					transform: translateY(-50%);
				}
				&.plus {
					&::after {
						content: "";
						position: absolute;
						background-color: currentColor;
						height: 100%;
						width: 2px;
						top: 0;
						left: 50%;
						transform: translateX(-50%);
					}
				}
			}
		}
	}
	&__item {
		overflow: hidden;
		background-color: #ffffff;
		box-shadow: 4px 4px 20px 4px rgba(0, 0, 0, 0.25);
		border-radius: 16px;
		padding: 30px 0 40px;
		@media (min-width: 1200px) {
			position: relative;
		}
		.sOrder__table-top {
			margin-bottom: 45px;
			overflow-x: auto;
			@media (min-width: 768px) {
				margin-bottom: 70px;
			}
			table {
				min-width: 525px;
				width: 100%;
				font-weight: bold;
				font-size: 16px;
				line-height: calc(19 / 16);
				margin-bottom: 15px;
				tr {
					border-bottom: 1px solid #bdbdbd;
					&:last-of-type {
						border: none;
						td {
							padding-bottom: 0;
						}
					}
				}
				th {
					color: #777777;
					padding: 10px;
					padding-bottom: 11px;
					padding-top: 0;
					white-space: nowrap;
					&:nth-child(2) {
						text-align: center;
					}
					&:last-of-type {
						text-align: right;
						padding-right: 19px;
					}
					&:first-of-type {
						padding-left: 19px;
						white-space: initial;
					}
				}
				td {
					padding: 10px;
					padding-top: 14px;
					padding-bottom: 14px;
					white-space: nowrap;
					&:last-of-type {
						text-align: right;
						padding-right: 19px;
					}
					&:first-of-type {
						text-align: left;
						padding-left: 19px;
						white-space: initial;
					}
				}
			}
		}
		.sOrder__table-footer {
			margin-bottom: 35px;
			padding-left: 19px;
			padding-right: 19px;
			@media (min-width: 768px) {
				margin-bottom: 55px;
			}
			table {
				width: 100%;
				font-weight: bold;
				font-size: 18px;
				line-height: calc(21 / 18);
				@media (max-width: 375px) {
					display: block;
					tbody {
						display: block;
					}
				}
				tr {
					@media (max-width: 375px) {
						display: flex;
						flex-wrap: wrap;
					}
					&:first-of-type {
						td {
							padding-bottom: 35px;
						}
					}
					&:last-of-type {
						td {
							&:nth-child(2) {
								@media (max-width: 375px) {
									padding-right: 0;
								}
							}
						}
					}
				}
				td {
					padding-left: 10px;
					padding-right: 10px;
					@media (max-width: 375px) {
						display: block;
					}
					&:last-of-type {
						text-align: right;
						// padding-right: 19px;
						padding-right: 0;
					}
					&:first-of-type {
						font-weight: normal;
						color: #777777;
						text-align: left;
						// padding-left: 19px;
						padding-left: 0;
						white-space: initial;
						flex-grow: 1;
					}
					&:nth-child(3) {
						@media (max-width: 375px) {
							width: 100%;
						}
					}
				}
			}
		}
		form {
			margin-bottom: 0;
		}
		textarea {
			display: block;
			// resize: none;
			resize: vertical;
			width: 90%;
			max-width: 458px;
			min-height: 110px;
			margin-left: auto;
			margin-right: auto;
			border-color: #b7b7b7;
			border-radius: 16px;
			padding: 15px 20px;
			margin-bottom: 45px;
			@media (min-width: 768px) {
				margin-bottom: 70px;
			}
		}
	}
	&__result {
		padding: 0 19px;
		.row {
			--bs-gutter-y: 20px;
		}
		.col-auto {
			@media (max-width: 480px) {
				width: 100%;
			}
		}
		button {
			width: 158px;
			height: 53px;
			border-radius: 8px;
			font-weight: 500;
			font-size: 22px;
			line-height: calc(26 / 22);
			@media (max-width: 480px) {
				width: 100%;
			}
		}
	}
	&__price {
		font-weight: 500;
		font-size: 24px;
		line-height: calc(28 / 24);
		color: #8c8c8c;
		@media (max-width: 480px) {
			display: flex;
			justify-content: space-between;
		}
		span {
			display: inline-block;
			margin-left: 8px;
			&:last-child {
				font-weight: bold;
				color: #000000;
				white-space: nowrap;
			}
		}
	}
	&__buttons {
		margin-left: auto;
		margin-right: auto;
		width: 82%;
		max-width: 433px;
		margin-bottom: 30px;
		@media (min-width: 768px) {
			margin-bottom: 40px;
		}
		.row {
			--bs-gutter-x: 14px;
		}
		.sOrder__btn {
			@include mt;
			width: 100%;
			border-radius: 16px;
			padding: 9px;
			&:hover {
				background-color: #ffffff;
				box-shadow: 0px 0px 6px 3px rgba($color: #15499f, $alpha: 0.3);
			}
			img {
				width: 40px;
				height: 40px;
			}
		}
	}
	&__heading {
		margin: 0;
		padding-left: 85px;
		@media (min-width: 576px) {
			max-width: 500px;
			margin-left: auto;
			margin-right: auto;
		}
		@media (min-width: 768px) {
			max-width: 600px;
		}
		@media (min-width: 1200px) {
			padding-left: 0;
			max-width: 100%;
			margin: 0;
		}
	}
	&__search {
		position: relative;

		input {
			@include mt;
			display: block;
			width: 100%;
			padding: 14.5px 20px 14.5px 70px;
			box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
			font-weight: 500;
			border: none;
			&:hover,
			&:focus {
				box-shadow: 4px 4px 6px 4px rgba(0, 0, 0, 0.2);
			}
		}
		button {
			@include a-cent(y);
			left: 33px;
			padding: 0;
			width: 28px;
			height: 28px;
			border: none;
			outline: none;
			background-color: transparent;
			svg {
				@include mt;
				pointer-events: none;
				width: 100%;
				height: 100%;
				fill: currentColor;
			}
			&:hover {
				color: #15499f;
			}
		}
	}
}

.sOrder-menu {
	max-height: 685px;
	overflow-y: auto;
	overflow-x: visible;
	padding: 20px;
	margin: -20px;
	.row {
		--bs-gutter-x: 20px;
		--bs-gutter-y: var(--bs-gutter-x);
		@media (max-width: 1200px) {
			flex-wrap: nowrap;
		}
	}
	&__item {
		display: flex;
		flex-direction: column;
		padding: 4% 9% 5.5%;
		box-shadow: 4px 4px 20px 4px rgba(0, 0, 0, 0.25);
		height: 100%;
		@media (max-width: 576px) {
			max-width: 100%;
			width: 210px;
		}
		h5 {
			text-transform: uppercase;
			text-align: center;
			font-weight: normal;
			font-size: 16px;
			line-height: 19px;
			margin-bottom: 8px;
			flex-grow: 1;
		}
	}
	&__img-wrap {
		@include block;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			object-fit: cover;
		}
		span {
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			right: 7px;
			bottom: 7px;
			width: 45.5px;
			height: 29px;
			background-color: #ffffff;
			border: 1px solid #777777;
			border-radius: 8px;
			font-weight: normal;
			font-size: 16px;
			line-height: 19px;
		}
	}
}

.breadcrumbs {
	display: flex;
	list-style: none;
	padding: 0;
	margin-top: 17px;
	margin-bottom: 35px;
	&__item {
		font-weight: 500;
		font-size: 16px;
		line-height: calc(19 / 16);
		color: #787878;
		&:not(:hover) {
			a {
				color: inherit;
			}
		}
		& + .breadcrumbs__item::before {
			content: url(../img/Arrow-1.svg);
			display: inline-block;
			vertical-align: middle;
			padding-right: 0.5rem;
			padding-bottom: 2px;
			width: 36px;
		}
		& + .breadcrumbs__item {
			padding-left: 0.5em;
		}
	}
}
